In [9]:
import pandas as pd
import numpy as np
import scipy
from datetime import datetime

In [10]:
 tickerDataRaw = pd.read_csv('C:\Users\sutta\PycharmProjects\lstmbacktest1\EURUSD_1H.csv')

In [11]:
print tickerDataRaw.head()

                  GMT time     Open     High      Low    Close      Volume
0  03.01.2005 00:00:00.000  1.35772  1.35777  1.35391  1.35438  29752.0996
1  03.01.2005 01:00:00.000  1.35443  1.35477  1.35271  1.35354  33412.1992
2  03.01.2005 02:00:00.000  1.35357  1.35358  1.34965  1.35012  31876.0996
3  03.01.2005 03:00:00.000  1.34998  1.35004  1.33856  1.34061  29160.5996
4  03.01.2005 04:00:00.000  1.34094  1.34422  1.34056  1.34418  30099.0996

In [12]:
tickerDataRaw['GMT time']= pd.to_datetime(tickerDataRaw['GMT time'])

In [13]:
tickerDataRaw['GMT time']= pd.to_datetime(tickerDataRaw['GMT time'])

In [14]:
tickerDataRaw.index = tickerDataRaw["GMT time"]

In [15]:
 del tickerDataRaw["GMT time"]

In [16]:
print tickerDataRaw.head()

                        Open     High      Low    Close      Volume
GMT time
2005-03-01 00:00:00  1.35772  1.35777  1.35391  1.35438  29752.0996
2005-03-01 01:00:00  1.35443  1.35477  1.35271  1.35354  33412.1992
2005-03-01 02:00:00  1.35357  1.35358  1.34965  1.35012  31876.0996
2005-03-01 03:00:00  1.34998  1.35004  1.33856  1.34061  29160.5996
2005-03-01 04:00:00  1.34094  1.34422  1.34056  1.34418  30099.0996

In [17]:
print tickerDataRaw.tail()

                        Open     High      Low    Close     Volume
GMT time
2016-04-01 19:00:00  1.08222  1.08280  1.08157  1.08275  5086.3799
2016-04-01 20:00:00  1.08272  1.08371  1.08261  1.08288  5940.1899
2016-04-01 21:00:00  1.08290  1.08370  1.08288  1.08296  3644.4299
2016-04-01 22:00:00  1.08303  1.08326  1.08268  1.08290  1948.0900
2016-04-01 23:00:00  1.08290  1.08290  1.08235  1.08237  3459.2300

In [28]:
tickerDataRaw['ret'] = tickerDataRaw.Close.pct_change()

In [29]:
print tickerDataRaw.head()

                        Open     High      Low    Close      Volume       ret
GMT time
2005-03-01 00:00:00  1.35772  1.35777  1.35391  1.35438  29752.0996       NaN
2005-03-01 01:00:00  1.35443  1.35477  1.35271  1.35354  33412.1992 -0.000620
2005-03-01 02:00:00  1.35357  1.35358  1.34965  1.35012  31876.0996 -0.002527
2005-03-01 03:00:00  1.34998  1.35004  1.33856  1.34061  29160.5996 -0.007044
2005-03-01 04:00:00  1.34094  1.34422  1.34056  1.34418  30099.0996  0.002663

In [30]:
tickerDataRaw['Logrtn']= np.log(1+tickerDataRaw.ret)

In [31]:
print tickerDataRaw.head()

                        Open     High      Low    Close      Volume       ret  \
GMT time
2005-03-01 00:00:00  1.35772  1.35777  1.35391  1.35438  29752.0996       NaN
2005-03-01 01:00:00  1.35443  1.35477  1.35271  1.35354  33412.1992 -0.000620
2005-03-01 02:00:00  1.35357  1.35358  1.34965  1.35012  31876.0996 -0.002527
2005-03-01 03:00:00  1.34998  1.35004  1.33856  1.34061  29160.5996 -0.007044
2005-03-01 04:00:00  1.34094  1.34422  1.34056  1.34418  30099.0996  0.002663

                       Logrtn
GMT time
2005-03-01 00:00:00       NaN
2005-03-01 01:00:00 -0.000620
2005-03-01 02:00:00 -0.002530
2005-03-01 03:00:00 -0.007069
2005-03-01 04:00:00  0.002659

In [43]:
tickerDataRaw['lag1']=tickerDataRaw['Close'].shift(1)

In [44]:
tickerDataRaw['lag2']=tickerDataRaw['Close'].shift(2)

In [52]:
tickerDataRaw['difflow']= tickerDataRaw['Low']-tickerDataRaw['Low'].shift(1)

In [54]:
tickerDataRaw['diffcloselow']=tickerDataRaw['Close']-tickerDataRaw['Low'].shift(1)

In [55]:
print tickerDataRaw.head()

                        Open     High      Low    Close      Volume       ret  \
GMT time
2005-03-01 00:00:00  1.35772  1.35777  1.35391  1.35438  29752.0996       NaN
2005-03-01 01:00:00  1.35443  1.35477  1.35271  1.35354  33412.1992 -0.000620
2005-03-01 02:00:00  1.35357  1.35358  1.34965  1.35012  31876.0996 -0.002527
2005-03-01 03:00:00  1.34998  1.35004  1.33856  1.34061  29160.5996 -0.007044
2005-03-01 04:00:00  1.34094  1.34422  1.34056  1.34418  30099.0996  0.002663

                       Logrtn     lag1     lag2     lag3  difflow  \
GMT time
2005-03-01 00:00:00       NaN      NaN      NaN      NaN      NaN
2005-03-01 01:00:00 -0.000620  1.35438      NaN      NaN -0.00120
2005-03-01 02:00:00 -0.002530  1.35354  1.35438      NaN -0.00306
2005-03-01 03:00:00 -0.007069  1.35012  1.35354  1.35438 -0.01109
2005-03-01 04:00:00  0.002659  1.34061  1.35012  1.35354  0.00200

                     diffcloselow
GMT time
2005-03-01 00:00:00           NaN
2005-03-01 01:00:00      -0.00037
2005-03-01 02:00:00      -0.00259
2005-03-01 03:00:00      -0.00904
2005-03-01 04:00:00       0.00562

In [ ]:
import kera